.add-comment-wrapper {
    position: sticky;
    bottom: 1rem;
    width: 100%;
}

.comment-elements {
    margin: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    background-color: var(--input-bg-color);
}

.always-visible {
    display: grid;
    justify-content: center;
    grid-template-columns: 12fr 1fr;
    grid-template-rows: 2fr;
}

.send-icon {
    fill: var(--primary-text-color);
    padding-left: 0.2rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.send-icon:hover {
    transform: scale(1.2);
}

.send-icon-container {
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.error-container {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.error-container p {
    color: var(--danger-button-bg-color);
    font-size: 0.8rem;
}