.page-wrapper {
    margin-top: 50px;
}

form {
    padding-top: 1rem;
}

h2 { 
    text-align: center;
}

.post-content {
    margin-bottom: 1rem;
}

.plant-list-wrapper {
    margin-top: 0.5rem;
}

.plant-list-wrapper .plant-list-items {
    padding-left: 0.5rem;
    margin-bottom: 0.2rem;
}

li {
    cursor: pointer;
}

.search {
    padding: 1rem 0rem;
}

.post-error-container {
    margin-bottom: 0.5rem;
}

.post-error-container p {
    color: var(--danger-button-bg-color);
    font-size: 0.8rem;
}