.modal-background .discard-container {
    margin-top: 10%;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    border-radius: 10px;
}

.discard-bg .modal-content {
    max-width: 800px;
    width: auto;
}

.discard-text {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--primary-text-color);
}

.discard-buttons button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
    .modal-background .discard-container {
        margin: 1rem;
        margin-top: 50%;
        padding: 1rem;
    }

    .discard-buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .discard-buttons .is-light {
        margin-bottom: 0.8rem;
    }
}