.modal-background .discard-container {
    margin-top: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    border-radius: 10px;
}

.discard-text {
    text-align: center;
    padding-bottom: 2rem;
}

.discard-buttons button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}