.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.post-right-corner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-interaction {
    display: flex;
    align-items: center;
}