.sort-button-container {
    border-radius: 50px;
    height: 30px;
    background-color: var(--sort-button-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 5px var(--border-color);
    cursor: pointer;
}

.sort-button-container:hover {
    border-color: var(--border-color-hover-color);
}

.sort-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-icon, .sort-text {
    padding: 0.2rem;
    font-size: small;
    fill: var(--primary-text-color);
}