.file .upload-button {
    margin-left: 1rem;
}

.file .file-label .file-cta, .file .file-label .file-name, .file.has-name .file-cta, span .file-label, span .file-name {
    border-color: var(--border-color);
    color: var(--primary-text-color);
    background-color: var(--input-bg-color);
}

.file .file-label .file-cta:hover, .file .file-label .file-name:hover, .file.has-name .file-cta:hover, span .file-label:hover, span .file-name:hover, .file-input:hover, .file .file-label:hover .file-cta, .file .file-label:hover .file-name {
    border-color: var(--border-color-hover-color);
    color: var(--primary-text-color);
    background-color: var(--input-bg-color);
}

.file-icon {
    fill: var(--primary-text-color);
}

.uploading-icons-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 2.5rem;
    height: 2rem;
}

.uploading-icons {
    display: flex;
    align-items: end;
}

.icon-loading {
    fill: var(--primary-text-color);
    width: 100%;
    height: 100%;
}

.check {
    fill: var(--primary-text-color);
    width: 100%;
    height: 100%;
}