.sproutly-navbar {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 30;
    display: flex;
    padding: 1rem;
    width: 100%;
    box-shadow: 2px 2px 10px rgb(232, 232, 232);
    margin-bottom: 1rem;
  }

.search-container {
    width: 50%;
}

.nav-items {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin: 0 auto;
}

.dark-mode-toggle-container {
    padding-top: 1rem;
    align-self: center;
}

.hidden {
    display: none;
}

.mobile-menu {
    width: 40%;
}

.hamburger-menu-button {
    display: none;
}

@media screen and (max-width: 768px) {

    .hamburger-menu-button {
        display: block;
    }

    .search-container, .dark-mode-toggle, .signup-buttons-container {
        display: none;
    }
}