.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-details {
    padding: 1.5rem;
}

.plants-owned-text {
    font-size: 14px;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
}

.profile-details-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.profile-details-container .user-image-div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-details-container .user-image-div .image {
    object-fit: cover;
}

.profile-details-container .username {
    font-size: 30px;
    margin-left: 1rem;
}

.profile-likes-count-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.profile-reactions-count {
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.profile-reactions-text {
    text-align: center;
    color: var(--primary-text-color);
}

@media screen and (max-width: 500px) {
    .profile-details, .profile-likes-count-container {
        padding: 0.5rem;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .plants-owned-text {
        text-align: center;
    }

    .profile-likes-count-container {
        margin-right: 0;
    }

    .profile-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-details-container .user-image-div {
        margin-bottom: 1rem;
    }
}