.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem
}

.welcome-logo {
    align-self: center;
    max-width: 50%;
}

.signup-button, .save-button {
    margin: 2rem;
    align-self: center;
}

.register .text, .login .text, .user-edit .text {
    font-size: 14px;
    color: var(--primary-text-color);
}

.register, .login, .user-edit {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture-upload {
    padding-bottom: 2rem;
}

.old-new-password {
    display: flex;
    justify-content: space-between;
}