@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    display: block;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

img {
    /* max-width: 700px; */
    border-radius: 10px;
}

:root {
    --background-color: #fffffF;
    --foreground-color: #00ff48;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --toggle-bg: #69ce93;
    --toggle-fg: #d0fae1;
}

[data-theme="dark"] {
    --background-color: #022f0c;
    --foreground-color: #0f521e;
    --primary-text-color: #fffdfd;
    --secondary-text-color: #000000;
    --toggle-bg: #396446;
    --toggle-fg: #85a990;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 900px;
    justify-content: center;
    align-items: center;
}