@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    display: block;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

img {
    /* max-width: 700px; */
    border-radius: 10px;
}

:root {
    --background-color: #f6f6f6;
    --foreground-color: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
}

[data-theme="dark"] {
    --background-color: #000000;
    --foreground-color: #9bb3ff;
    --primary-text-color: #fffdfd;
    --secondary-text-color: #000000;
    --toggle-bg: #000f57;
    --toggle-fg: #879bff;
}