@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Remove default Flexbox on HTML that Bulma applies & Set global background */
html {
    display: block;
    background: var(--background-color);
}

/* Set global font */
body, .button, .input, .textarea {
    font-family: 'Roboto', sans-serif;
}

/* Global Defaults */

/* Light Mode colors */
:root {
    /* Background colors */
    --background-color: #e5f1ec;
    --foreground-color: #fcfcfc;

    /* Nav Colours */
    --nav-bottom-border-color: #fcfcfc;

    /* Text colors */
    --primary-text-color: #333333;
    --secondary-text-color: #fcfcfc;

    /* Button colors */
    --primary-button-color: #B7E4C7;
    --primary-button-text-color: #333333;
    --secondary-button-color: #fcfcfc;
    --sort-button-bg-color: #fcfcfc;
    --danger-button-bg-color: rgb(192, 70, 70);

    /* Border colors */
    --border-color: rgb(233, 233, 233);
    --border-color-hover-color: rgb(181, 181, 181);

    /* Input field colors */
    --placeholder-text-color: rgb(199, 199, 199);
    --input-bg-color: #ffffff;
}

/* Dark mode colors */
[data-theme="dark"] {
    /* Background colors */
    --background-color: #13201c;
    --foreground-color: #1b2d27;

    /* Nav Colours */
    --nav-bottom-border-color: #35524A;

    /* Text colors */
    --primary-text-color: #F5F5F5;
    --secondary-text-color: #333333;

    /* Button colors */
    --primary-button-color: #41674e;
    --primary-button-text-color: #fcfcfc;
    --secondary-button-color: #29403a;
    --sort-button-bg-color: #20312C;
    --danger-button-bg-color: rgb(192, 70, 70);

    /* Border colors */
    --border-color: #35524A;
    --border-color-hover-color: #6d9383;

    /* Input field colors */
    --placeholder-text-color: rgba(217, 217, 217, 0.426);
    --input-bg-color: #29423b;
}

/* Wrappers */

.page-wrapper {
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.component-wrapper {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: var(--foreground-color);
}

/* Images */

img {
    border-radius: 10px;
}

/* Buttons */

.button.is-primary {
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
    transition: 300ms ease-in-out;
}

.button.is-primary a {
    color: var(--primary-button-text-color);
}

.button.is-light {
    background-color: var(--secondary-button-color);
    color: var(--primary-text-color);
    transition: 300ms ease-in-out;
    border: 1px solid var(--border-color);
}

.button.is-light a {
    color: var(--primary-text-color);
}

.button.is-danger {
    background-color: var(--danger-button-bg-color);
    transition: 300ms ease-in-out;
}

.button.is-primary:hover {
    background-color: var(--primary-button-color);
    color: var(--primary-text-color);
    transform: scale(1.1);
}

.button.is-light:hover {
    background-color: var(--secondary-button-color);
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    transform: scale(1.1);
}

.button.is-danger:hover {
    background-color: var(--danger-button-bg-color);
    color: var(--primary-text-color);
    transform: scale(1.1);
}

.button.is-primary:focus {
    color: var(--primary-text-color);
}

.button.is-light:focus {
    color: var(--primary-text-color);
}

/* Links */

a {
    color: var(--primary-text-color)
}

a:hover {
    color: var(--primary-text-color)
}

/* Inputs */

.input, .textarea {
    border-color: var(--border-color);
    background-color: var(--input-bg-color);
    color: var(--primary-text-color);
}

.input::placeholder, .textarea::placeholder {
    color: var(--placeholder-text-color);
}

/* Text */

p, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Posts */

.post-menu {
    fill: var(--primary-text-color)
}

.post-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.post-text {
    margin-bottom: 0.8rem;
}

.post-tags-wrapper {
    margin-bottom: 1.5rem;
}

.tag:not(body) {
    background-color: var(--primary-button-color);
    border-radius: 50px;
    color: var(--primary-button-text-color);
    font-weight: 500;
}

.post-tags {
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.post-image {
    margin-bottom: 1rem;
}

.edit-menu-wrapper {
    position: relative;
}

.edit-menu-container {
    background-color: var(--input-bg-color);
    border-radius: 5px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    border-color: var(--border-color);
    position: absolute;
    right: 0;
    top: 0;
}

.edit-menu-wrapper .edit {
    margin-bottom: 0.5rem;
}

hr {
    display: block;
    height: 1px;
    border-color: var(--border-color);
    background-color: var(--border-color);
}